{% extends "base.html" %}
{% load static %}
{% block contenido_variable %}
<button><a href="{% url 'CrearBlog' %}">Crear nuevo blog</a></button>
<br><hr>
<h3>Vibraciones</h3>
{% if filtro %}
{% for f in filtro %}

<p><b>Vibraciones  del tipo: </b>{{f.nombre}}</p>
<p><b>Detalle: </b>{{f.detalle}}</p>
{% if user.is_authenticated %}


<button><a href="{% url 'EliminarBlog' f.id %}">Eliminar</a></button>
<button><a href="{% url 'EditarBlog' f.id %}">Editar</a></button>
<button><a href="{% url 'VerMas' f.id %}">Ver mas</a></button>

{% else %}
<p>Debe iniciar sesion para poder acceder de forma completa a los blogs </p>
{% endif %}

{% endfor %}

{% else %}
<h4>No hay informacion</h4>
{% endif %}


{% endblock %}